/*!
 * Start Bootstrap - Landing Page Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@font-face {
  font-family: "Cameron Sans Light";
  src: url("../fonts/CameronSansLight.ttf");
}

@font-face {
  font-family: "DejaVuSans";
  src: url("../fonts/DejaVuSans.ttf");
}


body,
html {
  width: 100%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.navbar {
  font-family: "Cameron Sans Light";
}

.site-title {
  color: #fff !important;
  font-size: 1.5em;
}

.navbar li {
  font-size: 1em;
}

.intro-header {
  font-family: "Cameron Sans Light";
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #000000;
  background: url(../img/skydome-intro2-min.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.intro-logo {
  width: 30vh;
  height: 30vh;
}

.intro-message {
  position: relative;
  margin-top: 10vh;
}

.intro-message > h1 {
  font-family: "Cameron Sans Light";
  margin: 0;
  font-size: 5em;
  font-weight: 100;
  letter-spacing: 1px;
  color: "#222";
}

.intro-message > h3 {
  font-weight: 100;
  letter-spacing: 1px;
  color: "#222";
  margin-top: 0px;
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    font-size: 3em;
  }

  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.content-section-b {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

#contact {
  font-family: "DejaVuSans";
}


.mapouter{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.mapouter iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.banner {
  padding: 100px 0;
  color: #222222;
  background: url(../img/skydome-intro2.jpg) no-repeat center center;
  background-size: cover;
  font-weight: 200;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

.contact-info{
  text-align: center;
}

.contact-title{
  color: black;
  font-size: 2.5em;
}

.info-mail{
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}

p.copyright {
  margin: 15px 0 0;
}
