<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br /><br />
            <h2></h2>
            <br />
            <p>Skydome is an industrial IoT that collects your machines data autonomously
                And generates highly beneficial business reports/outputs to the management via mobile app
                Just in REAL TIME!

                Skydome is initially adopted for textile weaving industry!
            </p>
            <br />
            <p>"If you cannot DEFINE, you cannot MEASURE... <br>
               ...If you cannot MEASURE, you cannot MANAGE"
            <p>  <i>Prof. Robert Kaplan & David Norton </i>
            </p>
            <br />

        </div>
    </div>
</section>