<section id="contact">
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12">
					<div class="mapouter">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12035.916900408189!2d29.01223532566294!3d41.04758339879996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab7a2c1531791%3A0xcef4b844df001ee3!2s3Durak+-+Dijital+Fabrika!5e0!3m2!1str!2str!4v1555519901313!5m2!1str!2str" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>
				</div>
				<div class="col-lg-4 col-md-12 col-sm-12">
					<div class="contact-info">
						<h2 class="contact-title">Contact Information</h2>
						<h3><i class="fa fa-phone font-size-27"></i> (0 216) 330 3990</h3>
						<h6 class="info-mail">info@skydome.io</h6>
						<p class="contact-address">
							Ihlamur Yıldız Caddesi No:8/Z1
							Bahçeşehir Üniversitesi Kuzey Kampüsü
							Beşiktaş/İstanbul
						</p>
						<p class="footer-desc address mt20"></p>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container -->
	</div>
</section>
<!-- /.banner -->